[submodule "extlib/sampling"]
	path = extlib/sampling
	url = https://github.com/lorenzhs/sampling_new.git
  branch = master
[submodule "extlib/libmorton"]
	path = extlib/libmorton
	url = https://github.com/Forceflow/libmorton.git
[submodule "extlib/xxHash"]
	path = extlib/xxHash
	url = https://github.com/Cyan4973/xxHash.git
