[submodule "extlib/sampling"]
	path = extlib/sampling
	url = https://github.com/lorenzhs/sampling_new.git
  branch = master

[submodule "extlib/libmorton"]
	path = extlib/libmorton
	url = https://github.com/Forceflow/libmorton.git
